.profile__image-container {
    cursor: pointer;
    position: relative;
}

.profile__image-container:hover .profile__image-overlay {
    position: absolute;
    inline-size: 120px;
    block-size: 120px;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('../../../images/edit-avatar.svg');
    background-repeat: no-repeat;
    background-position: center;
}